@import 'node_modules/ol/ol.css';
@import 'maplibre-gl/dist/maplibre-gl.css';

html, body {
  margin: 0;
  height: 100%;
}

main {
  display: flex;
}

.map {
  width: 50%;
  height: 100vh;
}

/* #map-ol {} */

/* #map-libre {} */
