@import 'node_modules/ol/ol.css';
@import 'maplibre-gl/dist/maplibre-gl.css';

html, body {
  margin: 0;
  height: 100%;
}

.controls {
  position: absolute;
  z-index: 9;
  top: 0;
  left: 50%
}

.controls button {
  min-width: 40px;
  min-height: 40px;
}

.maps {
  display: flex;
}

.map {
  width: 50%;
  height: 100vh;
}

/* #map-ol {} */

/* #map-libre {} */
